@model School

@{
    ViewData["Title"] = "school information";
}
<h1>School: @Model.SchoolId</h1>
<h2>Name School: @Model.Name</h2>
<p><strong>foundation year: @Model.YearF</strong></p>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
