@{
    ViewData["Title"] = "school information";
}
<h1>School</h1>
<h2>Name School</h2>
<p><strong>foundation year: 2022</strong></p>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
